html {
    scroll-behavior: smooth;
}

:root {
    /* Dark Theme */
    --primary-color: #0b0c15;
    --secondary-color: #1c1f2c;
    --primary-font-color: #ffffff;
    --secondary-font-color: #505050;
    --accent-blue: #3a5eff;
    --accent-purple: #9b59b6;
    --neutral-gray-light: #aab2c8;
    --neutral-gray-dark: #6e768c;
    --highlight-green: #66ff99;
    --highlight-red: #ff6f61;

    /* Light Theme */
    --light-background: #f7f9fc;
    --light-secondary-background: #eaf1ff;
    --light-accent-blue: #87a6ff;
    --light-accent-purple: #d1a8ff;
    --text-dark: #1c1f2c;
    --border-light: #d3dcec;

    --night: #080c0c;
    --eerie-black: #212326;
    --onyx: #393b40;
    --azure: #e6efef;
    --azure-transparent: rgba(230, 239, 239, 0.5);
    --platinum: #ccdbdc;
    --vermilion: #db4c40;
    --marian-blue: #1c448e;
    --marian-purple: #3a4480;

    --vibrant1: #ff0058;
    --vibrant2: #ffbc00;
    --vibrant3: #ff0058;
    --vibrant4: #03a9f4;
    --vibrant5: #00d0ff;
    --vibrant6: #4dff03;
}

body {
    background-color: var(--primary-color);
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;

    color: var(--primary-font-color);
}

html,
body,
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    /* height: 100vh; */

    height: 100vh;
    /* height: calc(100vh - 80px); */
    width: 100%;
    /* border: 1px solid var(--highlight-green); */
    background-color: white;
    background-color: var(--light-background);
    background-color: var(--light-accent-blue);
    background-color: var(--platinum);
    background-color: var(--primary-color);
    color: black;
    /* background-image: linear-gradient(to right, var(--marian-blue), var(--azure), var(--vermilion)); */
    /* background-image: linear-gradient(to right, var(--marian-blue), var(--vermilion), var(--marian-blue)); */
    display: block;
    position: relative;
    /* padding-top: 80px; */
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-bg {
    background-image: linear-gradient(-60deg, var(--vermilion) 50%, var(--marian-blue) 50%);
    background-image: linear-gradient(-60deg, var(--secondary-color) 50%, var(--primary-color) 50%);
    /* background-image: linear-gradient(-60deg, var(--vibrant1), var(--vibrant2)); */
    /* background-image: linear-gradient(-60deg, var(--vibrant3), var(--vibrant4)); */
    /* background-image: linear-gradient(-60deg, var(--vibrant5), var(--vibrant6)); */
    /* background-image: linear-gradient(-60deg, var(--vibrant4) 50%, var(--vibrant3) 50%); */

    animation: slide 3s ease-in-out infinite alternate;
    animation: slide 3s ease-in-out forwards;

    height: 100vh;
    width: 200%;
    width: 150%;

    /* height: 200px;
    width: 200px; */
    /* bottom: 0; */
    /* top: 0; */
    /* left: -50%; */
    /* right: -50%; */
    opacity: 0.6;
    /* position: fixed; */
    z-index: 1;
    position: absolute;
}

.header-bg2 {
    background-image: linear-gradient(-60deg, var(--primary-color) 50%, var(--secondary-color) 50%);

    animation-duration: 4s;
    animation-direction: alternate-reverse;

    animation: slide2 1s ease-in-out forwards;
}

.header-bg3 {
    background-image: linear-gradient(-60deg, var(--secondary-color) 50%, var(--secondary-color) 50%);

    animation-duration: 5s;
    animation: slide3 2s ease-in-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        /* transform: translateX(10%); */
        transform: translateX(0%);
        /* transform: translateX(100%); */
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        /* transform: translateX(-10%); */
        transform: translateX(0%);
        /* transform: translateX(-100%); */
    }
}

@keyframes slide3 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        /* transform: translateX(10%); */
        transform: translateX(0%);
        /* transform: translateY(-100%); */
    }
}

.header-content {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-color: var(--onyx); */
    /* border-radius: 0.25em; */
    /* box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25); */
    box-sizing: border-box;
    /* left: -30%; */
    /* top: -5%; */
    /* padding: 10vmin; */
    /* position: fixed; */
    text-align: center;
    /* transform: translate(-80%, -80%); */
    z-index: 5;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 1s;

    font-size: 4vmin;
    /* font-size: 6vh; */
    color: var(--azure);
    font-weight: 700;
    font-style: bold;

    padding: 5vmin;

    /* max-width: 45%; */
    overflow-wrap: break-word;
    word-wrap: break-word;

    text-transform: uppercase;

    /* display: block; */
    margin: auto;
}

.hcontent1 {
    position: absolute;

    /* top: 80px; */
    top: 10%;
    /* left: 220px; */
    left: 10%;
}

.hcontent2 {
    position: absolute;

    /* bottom: 80px; */
    bottom: 10%;
    /* right: 220px; */
    right: 10%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        /* transform: translateX(-50%); */
        /* transform: translate(-50%, -100%); */
    }
    to {
        opacity: 1;
        /* transform: translateY(-0%); */
    }
}

.header-content-text {
    color: var(--secondary-color);
    z-index: 4;

    /* font-size: 30px; */
}

.header-content-colortext {
    /* color: var(--secondary-color); */
    z-index: 4;

    /* font-size: 4vmin; */
    /* font-size: 6vh; */

    /* background-image: linear-gradient(135deg, var(--vermilion) 0%, var(--vermilion) 50%, var(--marian-blue) 100%);
    color: transparent;
    background-clip: text; */

    color: var(--vermilion);

    /* display: inline; */
}

.header-btn {
    width: 150px;
    height: 50px;
    position: relative;

    /* background: linear-gradient(to right, var(--vermilion), var(--marian-blue)); */
}

/* .header-btn::before,
.header-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--vermilion), var(--marian-blue));
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
} */

.header-btn:hover {
    cursor: pointer;
}

footer {
    height: 100px;
    /* border: 1px solid var(--highlight-green); */
    background-color: var(--secondary-color);
}

.card,
.card2 {
    background-color: var(--primary-color);
    width: 80%;
    height: 200px;
    /* height: 100px; */
    margin: 20px auto;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    font-size: 20px;
}

.card::after,
.card::before,
.card2::after,
.card2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card::before,
.card2::before {
    filter: blur(1.5em);
    opacity: 0.3;
}

/* .card:hover,
.card2:hover {
    cursor: pointer;
} */

.card::after,
.card::before {
    /* background-image: linear-gradient(var(--secondary-color), var(--secondary-color)); */
    background-image: none;
    filter: blur(0em);
}

.card {
    padding: 0;
    /* margin: 4em; */
    height: 300px;
}

.card-text {
    font-size: 30px;
}

#header {
    font-size: 20px;
}

nav {
    border-color: rgba(11, 12, 20, 0.1);
    border-width: 2px;
    border-style: solid;
    background-color: var(--night);
    background-color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* padding-left: 120px; */
    /* padding-right: 120px; */
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding-left: 120px;
    padding-right: 120px;
}

nav li {
    position: relative;
    display: inline-block;
    width: 160px;
}

nav li a {
    color: #505050;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    position: relative;
}

nav li a:hover {
    color: #ffffff;
    font-size: 27px;
    transition: font-size 0.2s, color 0.3s;
}

#nav-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.horizontal-line {
    width: 50%;
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    height: 2px;
}

.block {
    margin: 20px;
}

#home-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#introduction-message {
    width: 800px;
    height: 500px;
}

#head-introduction-paragraph {
    font-size: 50px;
}

.introduction-paragraph {
    font-size: 25px;
}

#contactinfo-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
}

#contactinfo-block a {
    text-decoration: none;
}

.logo-block {
    border-color: #1c1f2c;
    background-color: #1c1f2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* padding: 20px; */
    /* margin: auto; */
    width: 220px;
    height: 200px;

    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;

    display: inline-block;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoheading {
    color: white;
    text-decoration: none;
}

.logo-block-inner {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;

    /* padding: 20px; */
    cursor: pointer;
}

.cardtest {
    /* background-color: #0b0c15; */
    background-color: var(--primary-color);
    /* width: 500px; */
    width: 80%;
    height: 200px;
    margin: 20px auto;
    /* padding: 2em; */
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardtest::after,
.cardtest::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: conic-gradient(rgba(2, 2, 161, 0.8), rgba(32, 129, 255, 0.8), rgba(2, 2, 161, 0.8)); */
    /* background-image: conic-gradient(transparent 25%, blue, transparent, blue); */
    /* background-image: linear-gradient(to bottom right, blue 0%, rgba(0, 0, 255, 0) 40%, rgba(0, 0, 255, 0) 80%, blue 100%); */
    background-image: linear-gradient(to bottom right, #1c1f2c 0%, rgba(0, 0, 255, 0) 40%, rgba(0, 0, 255, 0) 80%, #1c1f2c 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.cardtest::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.cardtest:hover {
    cursor: pointer;
}

.card-texttest {
    font-size: 30px;
}

.heading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    /* width: fit-content; */
    width: 50%;
    /* height: fit-content; */
    min-height: 120px;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-card::after,
.heading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%);
    background-image: linear-gradient(135deg, var(--vermilion) 0%, var(--vermilion) 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, var(--marian-blue) 90%, var(--marian-blue) 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.heading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.heading-card-text {
    font-size: 50px;
    /* color: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%); */
    /* background-image: linear-gradient(red, blue); */
    background-image: linear-gradient(135deg, #00b7ff 0%, #0b37ff 50%, #00d9ff 100%);
    background-image: linear-gradient(135deg, var(--accent-blue) 0%, var(--accent-purple) 50%, var(--accent-blue) 100%);
    background-image: linear-gradient(135deg, var(--accent-purple) 0%, var(--accent-blue) 50%, var(--accent-purple) 100%);
    color: transparent;
    background-clip: text;
}

.subheading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading-card::after,
.subheading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(225deg, #1c1f2c 0%, #1c1f2c 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #1c1f2c 90%, #1c1f2c 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.subheading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.subheading-card-text {
    font-size: 30px;
    color: var(--secondary-font-color);
}

.card-grid {
    display: grid;
    border: 3px solid var(--secondary-color);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 15px;
    width: 60%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutme-grid {
    /* border: 3px solid var(--secondary-color); */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 15px;
    /* justify-content: center; */
    padding: 15px;
    width: 80%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutme-image {
    width: 100%;
    height: 100%;
    /* max-width: 500px; */
    /* max-height: 500px; */
    /* height: 400px; */
    object-fit: cover;
    margin: auto;
}

.flip-card-container {
    /* border: 3px solid var(--secondary-color); */

    /* display: flex; */

    /* display: grid; */
    /* border: 3px solid var(--secondary-color); */

    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* gap: 15px; */
    /* padding: 15px; */
    width: 80%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-items: center;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.flip-card {
    /* background-color: transparent; */
    background-color: var(--primary-color);
    /* width: 190px; */
    width: 300px;
    /* height: 254px; */
    height: 350px;
    perspective: 1000px;

    background-color: var(--primary-color);
    /* margin: 10px auto; */
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.title {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    /* transition: box-shadow 3s; */
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-origin: center;

    transition: border-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.flip-card-front {
    background: var(--primary-color);

    border: 3px solid var(--secondary-color);
}

.flip-card-back {
    background: var(--secondary-color);
    border: 3px solid var(--secondary-color);

    transform: rotateY(180deg);

    text-align: left;
    padding: 10px;
}

.flip-card-front:hover,
.flip-card-back:hover {
    cursor: pointer;
    border: 3px solid var(--azure-transparent);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.flip-card-image {
    width: 200px;
    height: 200px;

    object-fit: cover;

    display: flex;
    margin: auto;
}
