html {
    scroll-behavior: smooth;
}

:root {
    /* Dark Theme */
    --primary-color: #0b0c15;
    --secondary-color: #1c1f2c;
    --primary-font-color: #ffffff;
    --secondary-font-color: #505050;
    --accent-blue: #3a5eff;
    --accent-purple: #9b59b6;
    --neutral-gray-light: #aab2c8;
    --neutral-gray-dark: #6e768c;
    --highlight-green: #66ff99;
    --highlight-red: #ff6f61;

    /* Light Theme */
    --light-background: #f7f9fc;
    --light-secondary-background: #eaf1ff;
    --light-accent-blue: #87a6ff;
    --light-accent-purple: #d1a8ff;
    --text-dark: #1c1f2c;
    --border-light: #d3dcec;

    --night: #080c0c;
    --eerie-black: #212326;
    --onyx: #393b40;
    --azure: #e6efef;
    --azure-transparent: rgba(230, 239, 239, 0.5);
    --platinum: #ccdbdc;
    --vermilion: #db4c40;
    --marian-blue: #1c448e;
    --marian-purple: #3a4480;

    --vibrant1: #ff0058;
    --vibrant2: #ffbc00;
    --vibrant3: #ff0058;
    --vibrant4: #03a9f4;
    --vibrant5: #00d0ff;
    --vibrant6: #4dff03;
}

body {
    background-color: var(--primary-color);
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;

    color: var(--primary-font-color);
}

html,
body,
footer {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    /* height: 100vh; */

    height: 100vh;
    /* height: calc(100vh - 80px); */
    width: 100%;
    /* border: 1px solid var(--highlight-green); */
    background-color: white;
    background-color: var(--primary-color);
    color: black;
    /* background-image: linear-gradient(to right, var(--marian-blue), var(--azure), var(--vermilion)); */
    /* background-image: linear-gradient(to right, var(--marian-blue), var(--vermilion), var(--marian-blue)); */
    display: block;
    position: relative;
    /* padding-top: 80px; */
    /* margin-bottom: 100px; */
    /* margin-top: 100px; */

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-bg {
    background-image: linear-gradient(-60deg, var(--vermilion) 50%, var(--marian-blue) 50%);
    background-image: linear-gradient(-60deg, var(--secondary-color) 50%, var(--primary-color) 50%);

    animation: slide 3s ease-in-out infinite alternate;
    animation: slide 3s ease-in-out forwards;

    height: 100vh;
    width: 200%;
    width: 150%;

    opacity: 0.6;
    /* opacity: 0.2; */

    /* position: fixed; */
    z-index: 1;
    position: absolute;
}

.header-bg2 {
    background-image: linear-gradient(-60deg, var(--primary-color) 50%, var(--secondary-color) 50%);
    opacity: 0.2;
    opacity: 0.6;

    animation-duration: 4s;
    animation-direction: alternate-reverse;

    animation: slide2 1s ease-in-out forwards;
}

.header-bg3 {
    background-image: linear-gradient(-60deg, var(--secondary-color) 50%, var(--secondary-color) 50%);
    opacity: 0.2;
    opacity: 0.6;

    animation-duration: 5s;
    animation: slide3 2s ease-in-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        /* transform: translateX(10%); */
        transform: translateX(0%);
        /* transform: translateX(100%); */
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        /* transform: translateX(-10%); */
        transform: translateX(0%);
        /* transform: translateX(-100%); */
    }
}

@keyframes slide3 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        /* transform: translateX(10%); */
        transform: translateX(0%);
        /* transform: translateY(-100%); */
    }
}

.header-content {
    box-sizing: border-box;
    text-align: center;
    z-index: 5;
    opacity: 0;
    /* animation: fadeIn 2s ease-in forwards; */
    /* animation-delay: 1s; */

    font-size: 4vmin;
    color: var(--azure);
    font-weight: 700;
    font-style: bold;

    padding: 5vmin;

    overflow-wrap: break-word;
    word-wrap: break-word;

    text-transform: uppercase;

    margin: auto;
}

.hcontent1 {
    position: absolute;
    position: relative;

    top: 10%;
    /* left: 10%; */
}

.hcontent2 {
    /* bottom: 10%; */
    /* right: 10%; */
    font-size: 20px;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */

.header-content-text {
    color: var(--secondary-color);
    z-index: 4;

    /* font-size: 30px; */
}

.header-content-colortext {
    /* color: var(--secondary-color); */
    z-index: 4;

    /* font-size: 4vmin; */
    /* font-size: 6vh; */

    background-image: linear-gradient(135deg, var(--vibrant2) 0%, var(--vibrant1) 30%, var(--vibrant1) 60%, var(--vibrant2) 100%);
    color: transparent;
    background-clip: text;

    /* color: var(--vermilion); */

    /* display: inline; */
}

.header-btn {
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: solid 3px var(--vibrant1);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s;
    /* background-color: var(--vibrant1); */
}

.header-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 120%;
    height: 120%;

    background-color: var(--vibrant1);
    /* background-image: linear-gradient(to right, var(--vibrant2), var(--vibrant1)); */

    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: -1;
}

.header-btn:hover::before {
    transform: translateX(0);
    transform: translateX(100%);
    scale: 1.025;
}

.header-btn:hover {
    /* background-color: var(--vibrant1); */
    scale: 1.025;
}

footer {
    height: 100px;
    /* border: 1px solid var(--highlight-green); */
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
}

.card,
.card2 {
    background-color: var(--primary-color);
    width: 80%;
    /* height: 200px; */
    /* height: 100px; */
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    font-size: 20px;
}

.card::after,
.card::before,
.card2::after,
.card2::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(var(--secondary-color), var(--secondary-color));

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card::before,
.card2::before {
    filter: blur(1.5em);
    opacity: 0.3;
}

/* .card:hover,
.card2:hover {
    cursor: pointer;
} */

.card::after,
.card::before {
    /* background-image: linear-gradient(var(--secondary-color), var(--secondary-color)); */
    background-image: none;
    filter: blur(0em);
}

.card {
    padding: 0;
    /* margin: 4em; */
    height: 300px;
}

.card-text {
    font-size: 30px;
}

#header {
    font-size: 20px;
}

nav {
    border-color: rgba(11, 12, 20, 0.1);
    border-width: 2px;
    border-style: solid;
    background-color: var(--night);
    background-color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* padding-left: 120px; */
    /* padding-right: 120px; */
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding-left: 120px;
    padding-right: 120px;
}

nav li {
    position: relative;
    display: inline-block;
    width: 160px;
}

nav li a {
    color: #505050;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    position: relative;
}

nav li a:hover {
    color: #ffffff;
    font-size: 27px;
    transition: font-size 0.2s, color 0.3s;
}

#nav-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.horizontal-line {
    width: 50%;
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    height: 2px;
}

.block {
    margin: 20px;
}

#home-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#introduction-message {
    width: 800px;
    height: 500px;
}

#head-introduction-paragraph {
    font-size: 50px;
}

.introduction-paragraph {
    font-size: 25px;
}

#contactinfo-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
}

#contactinfo-block a {
    text-decoration: none;
}

.logo-block {
    border-color: #1c1f2c;
    background-color: #1c1f2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* padding: 20px; */
    /* margin: auto; */
    width: 220px;
    height: 200px;

    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;

    display: inline-block;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoheading {
    color: white;
    text-decoration: none;
}

.logo-block-inner {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;

    /* padding: 20px; */
    cursor: pointer;
}

.heading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    /* width: fit-content; */
    width: 50%;
    /* height: fit-content; */
    min-height: 120px;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-card::after,
.heading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%);
    background-image: linear-gradient(135deg, var(--vermilion) 0%, var(--vermilion) 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, var(--marian-blue) 90%, var(--marian-blue) 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.heading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.heading-card-text {
    font-size: 50px;
    /* color: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%); */
    /* background-image: linear-gradient(red, blue); */
    background-image: linear-gradient(135deg, #00b7ff 0%, #0b37ff 50%, #00d9ff 100%);
    background-image: linear-gradient(135deg, var(--accent-blue) 0%, var(--accent-purple) 50%, var(--accent-blue) 100%);
    background-image: linear-gradient(135deg, var(--accent-purple) 0%, var(--accent-blue) 50%, var(--accent-purple) 100%);
    color: transparent;
    background-clip: text;
}

.subheading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading-card::after,
.subheading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(225deg, #1c1f2c 0%, #1c1f2c 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #1c1f2c 90%, #1c1f2c 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.subheading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.subheading-card-text {
    font-size: 30px;
    color: var(--secondary-font-color);
}

.card-grid {
    display: grid;
    border: 3px solid var(--secondary-color);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 15px;
    width: 60%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutme-grid {
    /* border: 3px solid var(--secondary-color); */

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
    gap: 15px;
    /* justify-content: center; */
    padding: 15px;
    width: 80%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.aboutme-image {
    width: 100%;
    height: 100%;
    /* max-width: 500px; */
    /* max-height: 500px; */
    /* height: 400px; */
    object-fit: cover;
    margin: auto;
}

.lang-grid {
    /* border: 3px solid var(--secondary-color); */

    /* display: flex; */

    /* display: grid; */
    /* border: 3px solid var(--secondary-color); */

    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 15px;
    /* padding: 15px; */
    width: 80%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-items: center;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.lang-icon {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

#projects-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
}

.flip-card-container {
    /* border: 3px solid var(--secondary-color); */

    /* display: flex; */

    /* display: grid; */
    /* border: 3px solid var(--secondary-color); */

    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    /* gap: 15px; */
    /* padding: 15px; */
    width: 80%;

    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    place-items: center;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.flip-card {
    /* background-color: transparent; */
    background-color: var(--primary-color);
    /* width: 190px; */
    width: 300px;
    /* height: 254px; */
    height: 350px;
    perspective: 1000px;

    background-color: var(--primary-color);
    /* margin: 10px auto; */
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.title {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    /* transition: box-shadow 3s; */
    transform-style: preserve-3d;
    /* padding: 10px; */
    left: 0;
    right: 0;
    /* box-sizing: border-box; */
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    transform-origin: center;
    top: 0;
    left: 0;

    transition: border-color 0.3s, transform 0.3s, box-shadow 0.3s;
    /* margin: 10px; */
}

.flip-card-front {
    background: var(--primary-color);

    border: 3px solid var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.flip-card-back {
    background: var(--secondary-color);
    border: 3px solid var(--secondary-color);

    transform: rotateY(180deg);

    text-align: left;
    /* padding: 10px; */
    /* margin: 10px; */
}

.flip-card-back p {
    padding: 0 20px;
}

.flip-card-front:hover,
.flip-card-back:hover {
    cursor: pointer;
    border: 3px solid var(--azure-transparent);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

.flip-card-image {
    /* height: 200px; */
    /* width: 200px; */
    /* height: 240px; */
    /* width: 240px; */

    height: 75%;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    object-fit: cover;

    display: flex;
    margin: 0;
    /* margin-top: 20px; */
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    /* transition-delay: 0.2s; */
}

.subheading-card .hidden {
    margin-left: 200px;
    margin-right: 200px;
    transition: opacity 1s ease-in-out, margin-left 1s ease-in-out, margin-right 1s ease-in-out;
}

/* .card2 .hidden {
    opacity: 0;

    transform: translateX(0);

    transition: opacity 1s ease-in-out, left 1s ease-in-out;
} */

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;

    transform: translateX(0);
}

.subheading-card .show {
    margin-left: 0;
    margin-right: 0;
}

/* .card2 .show {
    opacity: 1;

} */

/* flip-card animation delay */
.flip-card:nth-child(1) {
    transition-delay: 0s;
}
.flip-card:nth-child(2) {
    transition-delay: 0.2s;
}
.flip-card:nth-child(3) {
    transition-delay: 0.4s;
}
.flip-card:nth-child(4) {
    transition-delay: 0.6s;
}
.flip-card:nth-child(5) {
    transition-delay: 0.8s;
}

/* lang-con animation delay */
.lang-icon:nth-child(1) {
    transition-delay: 0s;
}
.lang-icon:nth-child(2) {
    transition-delay: 0.2s;
}
.lang-icon:nth-child(3) {
    transition-delay: 0.4s;
}
.lang-icon:nth-child(4) {
    transition-delay: 0.6s;
}
.lang-icon:nth-child(5) {
    transition-delay: 0.8s;
}

/* logo-block card animation delay */
.logo-block:nth-child(1) {
    transition-delay: 0s;
}
.logo-block:nth-child(2) {
    transition-delay: 0.2s;
}
.logo-block:nth-child(3) {
    transition-delay: 0.4s;
}
