html {
    scroll-behavior: smooth;
}

:root {
    /* Dark Theme */
    --primary-color: #0b0c15;
    --secondary-color: #1c1f2c;
    --primary-font-color: #ffffff;
    --secondary-font-color: #505050;
    --accent-blue: #3a5eff;
    --accent-purple: #9b59b6;
    --neutral-gray-light: #aab2c8;
    --neutral-gray-dark: #6e768c;
    --highlight-green: #66ff99;
    --highlight-red: #ff6f61;

    /* Light Theme */
    --light-background: #f7f9fc;
    --light-secondary-background: #eaf1ff;
    --light-accent-blue: #87a6ff;
    --light-accent-purple: #d1a8ff;
    --text-dark: #1c1f2c;
    --border-light: #d3dcec;
}

body {
    background-color: var(--primary-color);
    font-family: "Lato", serif;
    font-weight: 500;
    font-style: normal;

    color: var(--primary-font-color);
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    height: 100vh;
    width: 100%;
    /* border: 1px solid var(--highlight-green); */
    background-color: white;
    background-color: var(--light-background);
    background-color: var(--light-accent-blue);
    background-color: var(--secondary-color);
    display: block;
    position: relative;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    height: 100px;
    border: 1px solid var(--highlight-green);
}

.card {
    background-color: var(--primary-color);
    width: 80%;
    height: 200px;
    margin: 20px auto;
    /* padding: 2em; */
    text-align: center;
    border-radius: 10px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card::after,
.card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(rgba(2, 2, 161, 0.8), rgba(32, 129, 255, 0.8), rgba(2, 2, 161, 0.8));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card::before {
    filter: blur(1.5em);
    opacity: 0.3;
}

.card:hover {
    cursor: pointer;
}

.card-text {
    font-size: 30px;
}

#header {
    font-size: 20px;
}

nav {
    border-color: rgba(11, 12, 20, 0.1);
    border-width: 2px;
    border-style: solid;
    background-color: #1c1f2c;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    /* padding-left: 120px; */
    /* padding-right: 120px; */
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

    padding-left: 120px;
    padding-right: 120px;
}

nav li {
    position: relative;
    display: inline-block;
    width: 160px;
}

nav li a {
    color: #505050;
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    position: relative;
}

nav li a:hover {
    color: #ffffff;
    font-size: 27px;
    transition: font-size 0.2s, color 0.3s;
}

#nav-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.horizontal-line {
    width: 50%;
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    height: 2px;
}

.block {
    margin: 20px;
}

#home-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#introduction-message {
    width: 800px;
    height: 500px;
}

#head-introduction-paragraph {
    font-size: 50px;
}

.introduction-paragraph {
    font-size: 25px;
}

#contactinfo-block {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
}

#contactinfo-block a {
    text-decoration: none;
}

.logo-block {
    border-color: #1c1f2c;
    background-color: #1c1f2c;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* padding: 20px; */
    /* margin: auto; */
    width: 220px;
    height: 200px;

    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;

    margin-left: 10px;
    margin-right: 10px;

    display: inline-block;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoheading {
    color: white;
    text-decoration: none;
}

.logo-block-inner {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;

    /* padding: 20px; */
    cursor: pointer;
}

.cardtest {
    /* background-color: #0b0c15; */
    background-color: var(--primary-color);
    /* width: 500px; */
    width: 80%;
    height: 200px;
    margin: 20px auto;
    /* padding: 2em; */
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.cardtest::after,
.cardtest::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: conic-gradient(rgba(2, 2, 161, 0.8), rgba(32, 129, 255, 0.8), rgba(2, 2, 161, 0.8)); */
    /* background-image: conic-gradient(transparent 25%, blue, transparent, blue); */
    /* background-image: linear-gradient(to bottom right, blue 0%, rgba(0, 0, 255, 0) 40%, rgba(0, 0, 255, 0) 80%, blue 100%); */
    background-image: linear-gradient(to bottom right, #1c1f2c 0%, rgba(0, 0, 255, 0) 40%, rgba(0, 0, 255, 0) 80%, #1c1f2c 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.cardtest::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.cardtest:hover {
    cursor: pointer;
}

.card-texttest {
    font-size: 30px;
}

.heading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    /* width: fit-content; */
    width: 50%;
    /* height: fit-content; */
    min-height: 120px;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-card::after,
.heading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.heading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.heading-card-text {
    font-size: 50px;
    /* color: linear-gradient(135deg, #4463ec 0%, #3e61ff 9%, #0000 10%, rgba(0, 0, 255, 0) 89%, #4063ff 90%, #4769ff 100%); */
    /* background-image: linear-gradient(red, blue); */
    background-image: linear-gradient(135deg, #00b7ff 0%, #0b37ff 50%, #00d9ff 100%);
    background-image: linear-gradient(135deg, var(--accent-blue) 0%, var(--accent-purple) 50%, var(--accent-blue) 100%);
    background-image: linear-gradient(135deg, var(--accent-purple) 0%, var(--accent-blue) 50%, var(--accent-purple) 100%);
    color: transparent;
    background-clip: text;
}

.subheading-card {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    /* width: 500px; */
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
    padding: 0.25em 3em;
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    /* transition: transform 0.3s ease; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading-card::after,
.subheading-card::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(225deg, #1c1f2c 0%, #b4b4b4 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #b4b4b4 90%, #1c1f2c 100%);
    background-image: linear-gradient(225deg, #1c1f2c 0%, #1c1f2c 9%, rgba(0, 0, 255, 0) 10%, rgba(0, 0, 255, 0) 89%, #1c1f2c 90%, #1c1f2c 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.subheading-card::before {
    filter: blur(1.5em);
    opacity: 0.2;
}

.subheading-card-text {
    font-size: 30px;
    color: var(--secondary-font-color);
}

.cardtest4 {
    /* background-color: #0b0c15; */
    background-color: #0b0c15;
    background-color: var(--secondary-color);
    background-color: var(--primary-color);
    width: 200px;
    height: 200px;
    /* width: fit-content;
    height: fit-content; */
    margin: 20px auto;
    /* padding: 0.25em 3em; */
    text-align: center;
    border-radius: 10px;
    position: relative;
    /* display: inline-block; */
    /* overflow: hidden; */
    /* z-index: 0; */
    transition: transform 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* z-index: 1; */
}

.cardtest4::after,
.cardtest4::before {
    content: "";
    position: absolute;
    height: 300%;
    width: 40%;
    /* background-image: linear-gradient(135deg, #3a5eff 0%, #5473ff 19%, #00000000 20%, #00000000 80%, #5473ff 81%, #3a5eff 100%); */
    /* background-image: linear-gradient(135deg, #00000000 0%, #3a5eff 100%); */
    /* background: #3a5eff; */
    background: var(--accent-blue);
    /* background-image: linear-gradient(225deg, rgb(0, 110, 255) 0%, blue 39%, #00000000 40%, #00000000 60%, blue 61%, rgb(0, 110, 255) 100%); */
    /* top: 50%; */
    /* left: 50%; */
    /* translate: -50% -50%; */
    /* translate: -5px -5px; */
    transform: rotate(45deg);

    /* z-index: -1; */
    padding: 3px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* transform: translate(-50%, -50%); */

    /* top: -3px; */
    /* left: -3px; */
}

.cartest4::after {
    position: absolute;
    content: "";
    inset: 60px;
    background: var(--primary-color);
    /* z-index: 1; */

    /* filter: blur(1.5em); */
}

.cardtest4::before {
    /* filter: blur(1.5em); */
    opacity: 0.2;
}

.cardtest4:hover::after,
.cardtest4:hover::before {
    filter: blur(1.5em);
    /* opacity: 0.1; */
    cursor: pointer;
    /* transform: rotate(90deg); */
    /* transform: translate(-50%, -50%) rotate(90deg); */

    transform: rotate(135deg);
    /* transform: scale(1.5); */
}

.cardtest4:hover {
    /* filter: blur(1.5em); */
    /* opacity: 0.1; */
    cursor: pointer;
    /* transform: rotate(90deg); */
    /* transform: translate(-50%, -50%) rotate(90deg); */

    /* transform: rotate(135deg); */
    /* height: 300px; */
}

.card-texttest4 {
    font-size: 30px;
    background: var(--primary-color);
    padding: 76px 32px;
    /* margin: 20px; */
    border-radius: 10px;
    z-index: 1;
}

.color-grid {
    display: grid;
    border: 3px solid var(--secondary-color);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 15px;
}
